.logo{

	
}

.numero{
background-color: #0000FF; 
font-color: #F0FFFF; 

}

.negrito{
	
}

.conteudo-1{


}

.texto-inicial{


}

.titulo-principal{


}

.form-principal{
background-color: #87CEEB; 

}

.input-form{


}

